In [1]:
import pandas as pd
import seaborn as sns

In [64]:
df=sns.load_dataset('tips')

In [65]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
# Y and X variable
y=df['tip'] # targeted 
x=df[['total_bill','size']] # independent variable (input variable )

In [7]:
x.head()

   total_bill  size
0       16.99     2
1       10.34     3
2       21.01     3
3       23.68     2
4       24.59     4

In [8]:
y.head()

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64

In [9]:
# we need to divide the Train and Test data

In [12]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2)

In [28]:
x_train.shape

(195, 2)

In [31]:
x_test.shape

(49, 2)

In [19]:
from sklearn.linear_model import LinearRegression

In [38]:
model=LinearRegression()

In [40]:
# training the model with 80% of data
model_train=model.fit(x_train,y_train)

In [41]:
model_train

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
# y=mx+c linear regression equations

In [43]:
model.coef_ # cofficient of total_bill, size  # m

array([0.10623915, 0.13419578])

In [44]:
model.intercept_ # c

0.5576004948394764

In [49]:
y=(0.10623915*x1+0.13419578*x2)+0.5576004948394764
y

213.4384878348395

In [47]:
x1=2000
x2=3

In [52]:
# we can predict the table with test data
predi=model.predict(x_test) # tips we can get 
predi

array([2.71492419, 5.13253381, 2.42382891, 2.94792239, 2.0870508 ,
       3.04387207, 5.00677812, 5.6665823 , 4.84037614, 2.16460538,
       3.51171784, 2.22409931, 2.82893453, 2.88842846, 1.89794511,
       4.79469331, 2.76591898, 5.77813341, 3.70255482, 2.70994668,
       3.29247169, 3.23443365, 2.236848  , 3.30455149, 2.69082364,
       1.88200924, 2.21028822, 2.69294842, 1.9245049 , 3.78117179,
       2.76306626, 1.43686719, 3.80985636, 1.9234425 , 3.70680438,
       3.84491528, 2.1741669 , 3.41431226, 1.95531425, 4.32126018,
       2.17947886, 2.55981503, 6.48031517, 2.15823103, 1.01795048,
       3.71357223, 3.98408857, 2.93058967, 3.3785254 ])

In [60]:
df1=pd.DataFrame({'Actual value(tips)':y_test,'Predicted value':predi,'Residuals': y_test-predi})

In [62]:
df1

     Actual value(tips)  Predicted value  Residuals
34                 3.27         2.714924   0.555076
56                 3.00         5.132534  -2.132534
8                  1.96         2.423829  -0.463829
200                4.00         2.947922   1.052078
147                1.63         2.087051  -0.457051
31                 2.50         3.043872  -0.543872
141                6.70         5.006778   1.693222
102                2.50         5.666582  -3.166582
11                 5.00         4.840376   0.159624
236                1.00         2.164605  -1.164605
73                 5.00         3.511718   1.488282
139                2.75         2.224099   0.525901
64                 2.64         2.828935  -0.188935
188                3.50         2.888428   0.611572
226                2.00         1.897945   0.102055
85                 5.17         4.794693   0.375307
134                3.25         2.765919   0.484081
182                3.50         5.778133  -2.278133
153                2.00         3.702555  -1.702555
205                3.23         2.709947   0.520053
33                 2.45         3.292472  -0.842472
241                2.00         3.234434  -1.234434
228                2.72         2.236848   0.483152
181                5.65         3.304551   2.345449
17                 3.71         2.690824   1.019176
53                 1.56         1.882009  -0.322009
86                 2.00         2.210288  -0.210288
36                 2.00         2.692948  -0.692948
196                2.00         1.924505   0.075495
5                  4.71         3.781172   0.928828
18                 3.50         2.763066   0.736934
92                 1.00         1.436867  -0.436867
54                 4.34         3.809856   0.530144
136                2.00         1.923443   0.076557
4                  3.61         3.706804  -0.096804
211                5.16         3.844915   1.315085
27                 2.00         2.174167  -0.174167
189                4.00         3.414312   0.585688
169                2.00         1.955314   0.044686
175                3.11         4.321260  -1.211260
201                2.01         2.179479  -0.169479
93                 4.30         2.559815   1.740185
156                5.00         6.480315  -1.480315
50                 2.50         2.158231   0.341769
67                 1.00         1.017950  -0.017950
240                2.00         3.713572  -1.713572
77                 4.00         3.984089   0.015911
191                4.19         2.930590   1.259410
160                3.50         3.378525   0.121475

In [63]:
df1.sort_index(ascending=False)

     Actual value(tips)  Predicted value  Residuals
241                2.00         3.234434  -1.234434
240                2.00         3.713572  -1.713572
236                1.00         2.164605  -1.164605
228                2.72         2.236848   0.483152
226                2.00         1.897945   0.102055
211                5.16         3.844915   1.315085
205                3.23         2.709947   0.520053
201                2.01         2.179479  -0.169479
200                4.00         2.947922   1.052078
196                2.00         1.924505   0.075495
191                4.19         2.930590   1.259410
189                4.00         3.414312   0.585688
188                3.50         2.888428   0.611572
182                3.50         5.778133  -2.278133
181                5.65         3.304551   2.345449
175                3.11         4.321260  -1.211260
169                2.00         1.955314   0.044686
160                3.50         3.378525   0.121475
156                5.00         6.480315  -1.480315
153                2.00         3.702555  -1.702555
147                1.63         2.087051  -0.457051
141                6.70         5.006778   1.693222
139                2.75         2.224099   0.525901
136                2.00         1.923443   0.076557
134                3.25         2.765919   0.484081
102                2.50         5.666582  -3.166582
93                 4.30         2.559815   1.740185
92                 1.00         1.436867  -0.436867
86                 2.00         2.210288  -0.210288
85                 5.17         4.794693   0.375307
77                 4.00         3.984089   0.015911
73                 5.00         3.511718   1.488282
67                 1.00         1.017950  -0.017950
64                 2.64         2.828935  -0.188935
56                 3.00         5.132534  -2.132534
54                 4.34         3.809856   0.530144
53                 1.56         1.882009  -0.322009
50                 2.50         2.158231   0.341769
36                 2.00         2.692948  -0.692948
34                 3.27         2.714924   0.555076
33                 2.45         3.292472  -0.842472
31                 2.50         3.043872  -0.543872
27                 2.00         2.174167  -0.174167
18                 3.50         2.763066   0.736934
17                 3.71         2.690824   1.019176
11                 5.00         4.840376   0.159624
8                  1.96         2.423829  -0.463829
5                  4.71         3.781172   0.928828
4                  3.61         3.706804  -0.096804

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
lb=LabelEncoder()

In [67]:
df['Gender']=lb.fit_transform(df['sex'])

In [68]:
df

     total_bill   tip     sex smoker   day    time  size  Gender
0         16.99  1.01  Female     No   Sun  Dinner     2       0
1         10.34  1.66    Male     No   Sun  Dinner     3       1
2         21.01  3.50    Male     No   Sun  Dinner     3       1
3         23.68  3.31    Male     No   Sun  Dinner     2       1
4         24.59  3.61  Female     No   Sun  Dinner     4       0
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3       1
240       27.18  2.00  Female    Yes   Sat  Dinner     2       0
241       22.67  2.00    Male    Yes   Sat  Dinner     2       1
242       17.82  1.75    Male     No   Sat  Dinner     2       1
243       18.78  3.00  Female     No  Thur  Dinner     2       0

[244 rows x 8 columns]

In [69]:
# when we more than 2 values in columns we can use dummies

In [70]:
pd.get_dummies(df['day']) # one-hot encoder

     Thur  Fri  Sat  Sun
0       0    0    0    1
1       0    0    0    1
2       0    0    0    1
3       0    0    0    1
4       0    0    0    1
..    ...  ...  ...  ...
239     0    0    1    0
240     0    0    1    0
241     0    0    1    0
242     0    0    1    0
243     1    0    0    0

[244 rows x 4 columns]

In [72]:
df.corr()['tip'] # we can fine which is highly corelation # multiple of R

total_bill    0.675734
tip           1.000000
size          0.489299
Gender        0.088862
Name: tip, dtype: float64