In [1]:
import pandas as pd
import numpy as np

In [2]:
telecom_data= pd.read_csv('Telecom retention_Telco Company .csv')

In [3]:
telecom_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [4]:
pd.set_option('display.precision',2)

In [5]:
telecom_data.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

# Exploratory data

In [6]:
telecom_data.shape

(2666, 20)

In [7]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [8]:
# to change datatype of column
telecom_data['Churn']=telecom_data['Churn'].astype('int64')

In [9]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 416.7+ KB

In [10]:
telecom_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [11]:
# it is better to copy the data and work on that 
df=telecom_data.copy()

In [12]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [13]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00
mean,100.62,437.44,8.02,179.48,100.31,30.51,200.39,100.02,17.03,201.17,100.11,9.05,10.24,4.47,2.76,1.56,0.15
std,39.56,42.52,13.61,54.21,19.99,9.22,50.95,20.16,4.33,50.78,19.42,2.29,2.79,2.46,0.75,1.31,0.35
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,43.70,33.00,1.97,0.00,0.00,0.00,0.00,0.00
25%,73.00,408.00,0.00,143.40,87.00,24.38,165.30,87.00,14.05,166.93,87.00,7.51,8.50,3.00,2.30,1.00,0.00
50%,100.00,415.00,0.00,179.95,101.00,30.59,200.90,100.00,17.08,201.15,100.00,9.05,10.20,4.00,2.75,1.00,0.00
75%,127.00,510.00,19.00,215.90,114.00,36.70,235.10,114.00,19.98,236.47,113.00,10.64,12.10,6.00,3.27,2.00,0.00
max,243.00,510.00,50.00,350.80,160.00,59.64,363.70,170.00,30.91,395.00,166.00,17.77,20.00,20.00,5.40,9.00,1.00

In [14]:
# avg of day, evng, ni8 call = 100.31,100.02,100.11
# avg charges of day, evng, ni8 call = 30.51,17.03,9.05
# standard charge  approx - 20 each

In [15]:
mrng_call_customer = 100.31/30.51
mrng_call_customer

3.2877745001638807

In [16]:
evng_call_customer=100.02/17.03
evng_call_customer

5.873165002935995

In [17]:
ni8_call_customer=100.11/9.05
ni8_call_customer

11.061878453038673

In [18]:
# above is customer spend in avg per call

In [19]:
df.describe(include=['bool','object'])

       State International plan Voice mail plan
count   2666               2666            2666
unique    51                  2               2
top       WV                 No              No
freq      88               2396            1933

In [20]:
df.describe(include='all')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,2666,2666.00,2666.00,2666,2666,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00,2666.00
unique,51,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,WV,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,88,NaN,NaN,2396,1933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,100.62,437.44,NaN,NaN,8.02,179.48,100.31,30.51,200.39,100.02,17.03,201.17,100.11,9.05,10.24,4.47,2.76,1.56,0.15
std,NaN,39.56,42.52,NaN,NaN,13.61,54.21,19.99,9.22,50.95,20.16,4.33,50.78,19.42,2.29,2.79,2.46,0.75,1.31,0.35
min,NaN,1.00,408.00,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,43.70,33.00,1.97,0.00,0.00,0.00,0.00,0.00
25%,NaN,73.00,408.00,NaN,NaN,0.00,143.40,87.00,24.38,165.30,87.00,14.05,166.93,87.00,7.51,8.50,3.00,2.30,1.00,0.00
50%,NaN,100.00,415.00,NaN,NaN,0.00,179.95,101.00,30.59,200.90,100.00,17.08,201.15,100.00,9.05,10.20,4.00,2.75,1.00,0.00
75%,NaN,127.00,510.00,NaN,NaN,19.00,215.90,114.00,36.70,235.10,114.00,19.98,236.47,113.00,10.64,12.10,6.00,3.27,2.00,0.00
max,NaN,243.00,510.00,NaN,NaN,50.00,350.80,160.00,59.64,363.70,170.00,30.91,395.00,166.00,17.77,20.00,20.00,5.40,9.00,1.00

In [21]:
df.Churn.value_counts()
# 2278- retained customer
# 388 - churned customer

0    2278
1     388
Name: Churn, dtype: int64

In [22]:
df['Churn'].value_counts()

0    2278
1     388
Name: Churn, dtype: int64

In [23]:
# we are able to findout the ratio of churned customer
df['Churn'].value_counts(normalize=True)

0    0.85
1    0.15
Name: Churn, dtype: float64

In [24]:
# retained customers based on total day charges
df.sort_values(by=['Churn','Total day charge'], ascending=[True,False]).head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
1818,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
460,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2302,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0
917,VT,50,415,Yes,Yes,26,307.1,94,52.21,289.4,78,24.60,174.9,109,7.87,8.0,3,2.16,0,0
1997,TN,123,415,No,Yes,34,305.2,80,51.88,156.5,109,13.30,280.0,81,12.60,13.2,7,3.56,1,0

In [25]:
# avg mean of churned customers
df['Churn'].mean()

0.145536384096024

In [26]:
# average of all numerical value of churned customer
df[df['Churn']==1].mean()

Account length            102.32
Area code                 437.54
Number vmail messages       5.17
Total day minutes         205.18
Total day calls           101.20
Total day charge           34.88
Total eve minutes         209.39
Total eve calls            99.95
Total eve charge           17.80
Total night minutes       205.31
Total night calls         100.68
Total night charge          9.24
Total intl minutes         10.82
Total intl calls            4.05
Total intl charge           2.92
Customer service calls      2.21
Churn                       1.00
dtype: float64

In [27]:
# Retained customers
df[df['Churn']==0].mean()

Account length            100.33
Area code                 437.42
Number vmail messages       8.51
Total day minutes         175.10
Total day calls           100.16
Total day charge           29.77
Total eve minutes         198.85
Total eve calls           100.04
Total eve charge           16.90
Total night minutes       200.46
Total night calls         100.01
Total night charge          9.02
Total intl minutes         10.14
Total intl calls            4.54
Total intl charge           2.74
Customer service calls      1.45
Churn                       0.00
dtype: float64

In [28]:
# how many time customer spends in day call
df[df['Churn']==1]['Total day minutes'].mean()

205.1811855670104

In [29]:
# how much customer spends per day call
df[df['Churn']==1]['Total day charge'].mean()

34.88134020618558

In [30]:
# how much loyal customer spends on International Calls
df[df['Churn']==0]['Total intl calls'].mean()

4.53819139596137

In [31]:
# those who are not having International plan are churned out
df[(df['Churn']==1) & (df['International plan']=='No')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
18,CO,77,408,No,No,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,1
28,AZ,12,408,No,No,0,249.6,118,42.43,252.4,119,21.45,280.2,90,12.61,11.8,3,3.19,1,1
45,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
48,CO,121,408,No,Yes,30,198.4,129,33.73,75.3,77,6.40,181.2,77,8.15,5.8,3,1.57,3,1
58,TX,150,510,No,No,0,178.9,101,30.41,169.1,110,14.37,148.6,100,6.69,13.8,3,3.73,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,ID,82,415,No,No,0,266.9,83,45.37,229.7,74,19.52,251.7,99,11.33,11.0,6,2.97,3,1
2624,AR,76,408,No,No,0,107.3,140,18.24,238.2,133,20.25,271.8,116,12.23,10.0,3,2.70,4,1
2628,KS,170,415,No,Yes,42,199.5,119,33.92,135.0,90,11.48,184.6,49,8.31,10.9,3,2.94,4,1
2657,MD,62,408,No,No,0,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,1
2658,IN,117,415,No,No,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,1

In [32]:
# to map the value in dataset

In [33]:
# imputting the categorial values to boolean values
f={'Yes':True,'No':False}

In [34]:
f

{'Yes': True, 'No': False}

In [35]:
df['International plan']=df['International plan'].map(f)

In [36]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,False,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,False,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,False,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,False,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,False,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [39]:
df=df.replace({'Voice mail plan':f})

In [40]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,False,False,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,False,True,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,False,False,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,False,False,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,False,True,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   bool
 4   Voice mail plan         2666 non-null   bool
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   int64
dtypes: bool(2), float64(8), int64(9), object(1)
memory usage: 380.2+ KB

In [53]:
# total calls
calls=['Total day calls','Total eve calls','Total night calls']
df.groupby('Churn')[calls].describe()

      Total day calls                                                 \
                count    mean    std  min   25%    50%    75%    max
Churn
0              2278.0  100.16  19.68  0.0  87.0  100.0  113.0  160.0
1               388.0  101.20  21.71  0.0  87.0  103.0  116.0  156.0

      Total eve calls          ...               Total night calls          \
                count    mean  ...    75%    max             count    mean
Churn                          ...
0              2278.0  100.04  ...  114.0  170.0            2278.0  100.01
1               388.0   99.95  ...  113.0  159.0             388.0  100.68


         std   min    25%    50%    75%    max
Churn
0      19.31  33.0  87.00  100.0  113.0  166.0
1      20.07  49.0  85.75  101.0  116.0  158.0

[2 rows x 24 columns]

In [56]:
# total calls
calls=['Total day calls','Total eve calls','Total night calls']
df.groupby('Churn')[calls].agg([np.mean,np.std,np.max,np.min])

      Total day calls                  Total eve calls                   \
                 mean    std amax amin            mean    std amax amin
Churn
0              100.16  19.68  160    0          100.04  20.26  170    0
1              101.20  21.71  156    0           99.95  19.61  159   48

      Total night calls
                   mean    std amax amin
Churn
0                100.01  19.31  166   33
1                100.68  20.07  158   49

In [57]:
pd.crosstab(df['Churn'],df['International plan'])

International plan  False  True
Churn
0                    2126    152
1                     270    118

In [58]:
pd.crosstab(df['Churn'],df['Voice mail plan'])

Voice mail plan  False  True
Churn
0                 1610    668
1                  323     65

In [65]:
df.pivot_table(calls,['State'],aggfunc='mean').sort_index(ascending=False)

       Total day calls  Total eve calls  Total night calls
State
WY              101.33            99.17             102.79
WV              104.50            99.36             100.72
WI               97.00            99.08              98.43
WA              100.52            95.75             103.75
VT              101.04            96.98             103.58
VA              105.91           100.46              93.10
UT               99.68            97.87             100.73
TX              101.24           101.25              99.29
TN               99.66           105.85              91.00
SD               93.92            98.37              94.08
SC              101.57           100.71              99.82
RI              100.88            93.27             101.75
PA               98.89           100.36              99.50
OR               94.56            98.56             102.21
OK               99.81           105.06             101.94
OH               99.79           101.36             103.76
NY               99.18           100.91              98.63
NV              102.31            95.92             101.38
NM              101.68           102.34             103.07
NJ               99.36           101.38             100.38
NH              101.09            96.05              98.30
NE               94.69           102.20             103.44
ND              100.61           102.64             102.64
NC              103.12           104.23             100.46
MT               95.30            97.19             102.55
MS              102.42            99.10              99.79
MO               99.88           102.29             101.37
MN               98.90           103.51             101.64
MI               99.09           100.84             103.60
ME              100.51           106.35              97.31
MD               97.83            99.85              95.60
MA              101.62            98.33              96.73
LA              102.97            96.63             101.63
KY               99.09            99.65             102.72
KS              100.31            98.33             100.38
IN              105.81            98.70             100.39
IL              101.04           102.09              97.31
ID              108.02            98.29             100.39
IA              104.13            98.16              98.74
HI              101.00            99.14              98.30
GA              104.61           101.88             105.80
FL               99.22           106.93             100.74
DE               98.55            99.33             101.71
DC               97.93           101.93              97.00
CT               98.61            98.69             101.92
CO               94.88            96.20              95.58
CA              100.67           106.50             100.12
AZ              101.44           103.04             100.47
AR              104.38            99.79              96.94
AL               99.44            98.08             101.23
AK               94.63            95.56              98.07

In [69]:
df.pivot_table(calls,['Area code'])

           Total day calls  Total eve calls  Total night calls
Area code
408                 100.78            99.56              98.56
415                 100.23           100.61             100.75
510                 100.01            99.33             100.38

In [75]:
df.groupby(['State','Area code'])[calls].mean()

                 Total day calls  Total eve calls  Total night calls
State Area code
AK    408                  95.33           103.56             108.56
      415                  97.71            93.67              96.52
      510                  89.15            93.08              93.31
AL    408                  99.59            99.50              98.91
      415                 103.50            98.38              98.41
...                          ...              ...                ...
WV    415                 104.52            98.41             102.87
      510                 102.59           104.56              97.07
WY    408                  94.07           100.67              96.87
      415                 103.14            98.54             105.83
      510                 104.19            99.12             101.69

[153 rows x 3 columns]

In [76]:
df.groupby(['State','Area code','Churn'])[calls].mean()

                       Total day calls  Total eve calls  Total night calls
State Area code Churn
AK    408       0                95.33           103.56             108.56
      415       0                99.00            92.67              96.94
                1                90.00            99.67              94.00
      510       0                89.15            93.08              93.31
AL    408       0                99.00           102.44             101.11
...                                ...              ...                ...
WY    408       0                94.07           100.67              96.87
      415       0               103.77            99.97             103.70
                1                99.40            90.00             118.60
      510       0               104.08            99.69             104.62
                1               104.67            96.67              89.00

[285 rows x 3 columns]

In [77]:
# correlation between the churn and the its columns
df.corr()['Churn']

Account length            1.77e-02
Area code                 1.02e-03
International plan        2.77e-01
Voice mail plan          -9.93e-02
Number vmail messages    -8.65e-02
Total day minutes         1.96e-01
Total day calls           1.83e-02
Total day charge          1.96e-01
Total eve minutes         7.29e-02
Total eve calls          -1.54e-03
Total eve charge          7.29e-02
Total night minutes       3.36e-02
Total night calls         1.23e-02
Total night charge        3.36e-02
Total intl minutes        8.62e-02
Total intl calls         -6.99e-02
Total intl charge         8.62e-02
Customer service calls    2.03e-01
Churn                     1.00e+00
Name: Churn, dtype: float64

In [88]:
threshold=0.7
abs(df.corr()['Churn'])#>threshold

Account length            1.77e-02
Area code                 1.02e-03
International plan        2.77e-01
Voice mail plan           9.93e-02
Number vmail messages     8.65e-02
Total day minutes         1.96e-01
Total day calls           1.83e-02
Total day charge          1.96e-01
Total eve minutes         7.29e-02
Total eve calls           1.54e-03
Total eve charge          7.29e-02
Total night minutes       3.36e-02
Total night calls         1.23e-02
Total night charge        3.36e-02
Total intl minutes        8.62e-02
Total intl calls          6.99e-02
Total intl charge         8.62e-02
Customer service calls    2.03e-01
Churn                     1.00e+00
Name: Churn, dtype: float64